<ifModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
</ifModule>

#Block_Access_Url
Options -Indexes

ErrorDocument 404 /agrokpi/error/error.php
ErrorDocument 403 /agrokpi/error/error.php